*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header{

    height: 90px;
    background-color: #ECF0F1;
}

.btn {
    background-color: #FF9800;
}

.card-title {
    background-color: #81C784;
    color: white;
}