*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* code Olivier */

#presentation {
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/city-925223_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ul-service {
    list-style-type: square;
}


/* code Leo */

.logos
{
    width: 65px;
    height: 65px;
}

.bordureBouton
{
    width: 200px;
    height: 55px;
    background-color: orange;
}


/* code Antoine */
section.main {
    height: 600px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/seaside-371229_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.jumbo-box {
    margin-top: -7.5rem;
}

.card-box {
    margin-top: -9rem;
}

.card {
    border: none !important;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    z-index: 1;
}

div.card:nth-child(1) {
    /* border-top-left-radius: .25rem !important; */
    border-top-right-radius: 0 !important;
}

div.card:nth-child(2) {
    border-radius: none !important;
}

div.card:nth-child(3) {
    border-top-left-radius: 0 !important;
}

.author-box {
    margin-right: 7rem;
}

section.footer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 1030px) {
    section.main, #presentation {
        background-position: right;
        background-size: auto;
    }
}

@media screen and (max-width: 770px) {
    section.main {
    height: 560px;
    background-position: right;
    background-size: auto;
    }

    .jumbo-box {
        margin-top: -5.5rem;
    }

    .card-box {
        margin-top: -5rem;
    }

    #presentation {
        background-position: right;
        background-size: auto;
    }

    iframe {
        width: 224px;
        height: 150px;
    }

    .logos {
        width: 25px;
        height: 25px;
    }

    #exampleInputEmail {
        font-size: small;
    }

    /* .bordureBouton {
        margin-top: 2em;
        height: 80%;
        width: 40%;
    } */

    /* div.bordureBouton:nth-child(1) > button:nth-child(1) {
        font-size: 6px;
    }

    .texteCoordonnees {
        font-size: 6px;
    }

    .newsletterText {
        font-size: 6px;
    } */
}

@media screen and (min-width: 750px) and (max-width: 770px) {
    
    body > section.container-fluid.bg-dark.text-white.align-items-center > div > div.col.d-flex.flex-column.newsletterText > div.pt-lg-5.d-flex.align-items-center.align-items-md-start.flex-column.mb-5.mb-md-0 > div {
        margin-top: 2em;
        height: 80%;
        width: 40%;
    }

    div.bordureBouton:nth-child(1) > button:nth-child(1) {
        font-size: 6px;
    }

    .texteCoordonnees {
        font-size: 6px;
    }

    .newsletterText {
        font-size: 6px;
    }
}

@media screen and (max-width: 380px) {
    .jumbo-box {
        margin-top: -4rem;
    }

    .card-box {
        margin-top: 0;
    }

    .card-body {
        text-align: center;
    }

    .text-card {
        font-size: 13px;
    }

    .navbar {
        background-color: rgba(107, 107, 112, 0.459) !important;
    }

    iframe {
        padding-left: 2.5em;
        padding-top: 2.5em;
        width: 90%;
        height: 300px;
    }

    .logos {
        width: 50px;
        height: 50px;
    }

    .reseauLogo {
        justify-content: center;
    }

    .bordureBouton {
        margin-top: 1em;
        width: 40%;
        height: 100%;
    }
    
    div.bordureBouton:nth-child(1) > button:nth-child(1) {
        font-size: small;
        padding-bottom: 20px;
    }
}